In [1]:
# ðŸ“Œ Step 1: Data Loading & Exploration
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Load the data
df = pd.read_csv("student_dataset_25.csv")

In [3]:
df

,student_id,hours_studied,previous_scores,learning_style,interest_subjects,assignments_done,test_score
0,S001,3.6,83.2,Kinesthetic,Math,92.5,76.3
1,S002,7.7,51.0,Auditory,Math,72.5,72.4
2,S003,6.1,68.3,Auditory,History,54.8,52.2
3,S004,5.2,72.6,Auditory,Math,68.5,96.6
4,S005,2.1,42.6,Auditory,English,83.4,75.9
5,S006,2.1,73.4,Auditory,Math,83.3,81.7
6,S007,1.4,49.4,Auditory,English,79.6,92.8
7,S008,7.1,43.6,Kinesthetic,English,63.7,77.5
8,S009,5.2,92.2,Kinesthetic,English,78.1,57.7
9,S010,6.0,93.1,Auditory,History,69.1,46.3
10,S011,1.1,84.5,Kinesthetic,History,98.6,67.4
11,S012,7.8,56.8,Visual,History,92.4,53.1
12,S013,6.8,45.4,Auditory,Math,86.1,65.0
13,S014,2.5,77.6,Visual,English,61.8,93.0
14,S015,2.3,64.2,Visual,History,62.8,59.5
15,S016,2.3,46.7,Auditory,History,52.0,47.3
16,S017,3.1,67.2,Kinesthetic,Math,85.5,61.4
17,S018,4.7,41.9,Visual,History,55.5,94.4
18,S019,4.0,90.0,Auditory,Math,72.0,56.3
19,S020,3.0,54.2,Visual,Science,60.1,78.9
20,S021,5.3,76.4,Visual,History,94.8,40.0
21,S022,2.0,57.1,Visual,Science,73.8,61.2
22,S023,3.0,68.6,Visual,Math,78.2,58.3
23,S024,3.6,70.1,Kinesthetic,English,84.8,49.9
24,S025,4.2,50.2,Visual,History,57.0,72.0

In [4]:
print("\nFirst 5 Rows:\n", df.head())
print("\nData Info:\n")

First 5 Rows:
   student_id  hours_studied  previous_scores learning_style interest_subjects  \
0       S001            3.6             83.2    Kinesthetic              Math
1       S002            7.7             51.0       Auditory              Math
2       S003            6.1             68.3       Auditory           History
3       S004            5.2             72.6       Auditory              Math
4       S005            2.1             42.6       Auditory           English

   assignments_done  test_score
0              92.5        76.3
1              72.5        72.4
2              54.8        52.2
3              68.5        96.6
4              83.4        75.9

Data Info:

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   student_id         25 non-null     object
 1   hours_studied      25 non-null     float64
 2   previous_scores    25 non-null     float64
 3   learning_style     25 non-null     object
 4   interest_subjects  25 non-null     object
 5   assignments_done   25 non-null     float64
 6   test_score         25 non-null     float64
dtypes: float64(4), object(3)
memory usage: 1.5+ KB

In [6]:
# Check for missing values
print("\nMissing Values:\n", df.isnull().sum())

Missing Values:
 student_id           0
hours_studied        0
previous_scores      0
learning_style       0
interest_subjects    0
assignments_done     0
test_score           0
dtype: int64

In [7]:
# Drop duplicates
df.drop_duplicates(inplace=True)